.u-section-1 {
  background-image: linear-gradient(#f2f2f2, #b3b3b3);
  min-height: 565px;
}

.u-section-1 .u-layout-wrap-1 {
  background-image: linear-gradient(#478ac9, #db545a);
  width: 1140px;
  margin: 0 auto -239px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 306px;
  background-image: linear-gradient(#478ac9, #425465);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 25px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 30px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 157px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 250px;
  background-image: linear-gradient(#77aad9, #425465);
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 25px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 15px 163px 0 0;
}

.u-section-1 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 30px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 156px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 259px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 509px;
  background-image: linear-gradient(#adcce9, #4c7397);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.25rem;
  margin: 0 124px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-form-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 466px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 5px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 206px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 113px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 106px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 214px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 420px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1059px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -325px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 328px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1233px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -310px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 246px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1127px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -286px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 155px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }
}